body {
    font-family: Arial;
    background-color: #0f172a;
    color: #ffffff;
    margin: 0;
}

section {
    padding: 60px;
}

h2 {
    color: #38bdf8;
}

a {
    color: #22d3ee;
    text-decoration: none;
}
